<app-aviso></app-aviso>
<app-header></app-header>

<main class="bg-white min-h-screen mt-8 pt-8 pb-8">
  <div class="container mx-auto px-4">
    <!-- Encabezado -->
    <header class="text-center mb-10">
      <span class="text-4xl font-bold text-texto mb-4">
        El Arte de la Alimentación Saludable
      </span>
      <p class="text-xl text-texto">
        Explora consejos prácticos, recetas nutritivas y las últimas
        investigaciones para transformar tu vida a través de la alimentación.
      </p>
    </header>

    <!-- Sección de Nutrición Esencial -->
    <section class="mb-12">
      <span
        class="flex justify-center text-3xl font-bold text-center text-texto mb-6"
      >
        Fundamentos de la Nutrición
      </span>
      <p
        class="text-lg text-texto bg-pistacho-claro bg-opacity-30 shadow-lg rounded-lg p-6 border border-bg-header"
      >
        La nutrición adecuada es la base de un estilo de vida saludable.
        Comprender los macronutrientes y micronutrientes esenciales puede
        ayudarte a hacer elecciones informadas que benefician tu salud a largo
        plazo. Desde balancear tus comidas con las proporciones adecuadas de
        proteínas, grasas y carbohidratos hasta seleccionar los mejores
        alimentos para tu bienestar, cada decisión alimenticia cuenta en tu
        camino hacia una vida más sana y energética.
      </p>
    </section>

    <!-- Sección de Recetas Saludables -->
    <section class="mb-12">
      <span
        class="flex justify-center text-3xl font-bold text-center text-texto mb-6"
      >
        Recetas Saludables para Cada Día
      </span>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div
          class="bg-pistacho-claro bg-opacity-30 shadow-lg rounded-lg p-6 border border-bg-header"
        >
          <span class="text-2xl font-medium mb-2 text-pistacho">
            Desayuno: Smoothie Verde Detox
          </span>
          <p class="text-texto">
            Empieza tu día con un chute de energía y nutrientes gracias a este
            delicioso y refrescante smoothie. Rico en antioxidantes y fibra, es
            el desayuno perfecto para depurar tu cuerpo y cargar las pilas.
          </p>
        </div>
        <div
          class="bg-pistacho-claro shadow-lg bg-opacity-30 rounded-lg p-6 border border-bg-header"
        >
          <span class="text-2xl font-medium mb-2 text-pistacho">
            Almuerzo: Ensalada Mediterránea
          </span>
          <p class="text-texto">
            Ligera, nutritiva y sumamente deliciosa, esta ensalada combina los
            sabores del Mediterráneo para crear un almuerzo que no solo
            satisface, sino que también nutre.
          </p>
        </div>
        <div
          class="bg-pistacho-claro bg-opacity-30 shadow-lg rounded-lg p-6 border border-bg-header"
        >
          <span class="text-2xl font-medium mb-2 text-pistacho und">
            Cena: Salmón al Horno con Quinoa
          </span>
          <p class="text-texto">
            Disfruta de una cena rica en omega-3 y proteínas con este salmón al
            horno. Acompañado de quinoa, un superalimento, es la cena perfecta
            para terminar el día de manera saludable.
          </p>
        </div>
      </div>
    </section>

    <!-- Sección de Bienestar y Dieta -->
    <section class="mb-12">
      <span
        class="flex justify-center text-3xl font-bold text-center text-texto mb-6"
      >
        Estrategias para un Bienestar Integral
      </span>
      <p
        class="text-lg text-texto bg-pistacho-claro bg-opacity-30 shadow-lg rounded-lg p-6 border border-bg-header"
      >
        Más allá de la comida, el bienestar integral incluye gestionar el
        estrés, dormir bien y mantener una actividad física regular. Descubre
        cómo pequeños cambios en tu rutina diaria pueden mejorar
        significativamente tu salud mental y física, complementando tu dieta
        saludable.
      </p>
    </section>

    <div class="grid justify-center">
      <!-- CARDS INFLUENCERS -->
      <div class="grid justify-center">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
          <div class="col">
            <div class="card cursor-pointer">
              <div class="image-box">
                <a
                  href="https://www.instagram.com/cipfpcecheste/?hl=es"
                  target="_blank"
                  rel="noreferrer"
                >
                  <img src="../../assets/img/cocinera1.jpeg" alt="Marta" />
                </a>
              </div>
              <div class="text-box">
                <div class="main"><span>Marta</span></div>
                <div class="sub"><span>&#64;Sancez_Marta</span></div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card cursor-pointer">
              <div class="image-box">
                <a
                  href="https://www.instagram.com/cipfpcecheste/?hl=es"
                  target="_blank"
                  rel="noreferrer"
                >
                  <img src="../../assets/img/cocinero3.jpeg" alt="Somchai" />
                </a>
              </div>
              <div class="text-box">
                <div class="main"><span>Somchai</span></div>
                <div class="sub"><span>&#64;SomchaiThai</span></div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card cursor-pointer">
              <div class="image-box">
                <a
                  href="https://www.instagram.com/cipfpcecheste/?hl=es"
                  target="_blank"
                  rel="noreferrer"
                >
                  <img src="../../assets/img/cocinera2.jpeg" alt="Laura" />
                </a>
              </div>
              <div class="text-box">
                <div class="main"><span>Laura</span></div>
                <div class="sub"><span>&#64;LePetitDejuner</span></div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card cursor-pointer">
              <div class="image-box">
                <a
                  href="https://www.instagram.com/cipfpcecheste/?hl=es"
                  target="_blank"
                  rel="noreferrer"
                >
                  <img src="../../assets/img/cocinero2.jpeg" alt="Mario" />
                </a>
              </div>
              <div class="text-box">
                <div class="main"><span>Mario</span></div>
                <div class="sub"><span>&#64;CoProfM</span></div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card cursor-pointer">
              <div class="image-box">
                <a
                  href="https://www.instagram.com/cipfpcecheste/?hl=es"
                  target="_blank"
                  rel="noreferrer"
                >
                  <img src="../../assets/img/cocinero1.jpg" alt="Angelo" />
                </a>
              </div>
              <div class="text-box">
                <div class="main"><span>Angelo</span></div>
                <div class="sub"><span>&#64;SienteItalia</span></div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card cursor-pointer">
              <div class="image-box">
                <a
                  href="https://www.instagram.com/cipfpcecheste/?hl=es"
                  target="_blank"
                  rel="noreferrer"
                >
                  <img src="../../assets/img/cocinera3.jpeg" alt="Susana" />
                </a>
              </div>
              <div class="text-box">
                <div class="main"><span>Susana</span></div>
                <div class="sub"><span>&#64;SweetKitchen</span></div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card cursor-pointer">
              <div class="image-box">
                <a
                  href="https://www.instagram.com/cipfpcecheste/?hl=es"
                  target="_blank"
                  rel="noreferrer"
                >
                  <img src="../../assets/img/cocinero4.jpeg" alt="Luca" />
                </a>
              </div>
              <div class="text-box">
                <div class="main"><span>Luca</span></div>
                <div class="sub"><span>&#64;ElAsadito</span></div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card cursor-pointer">
              <div class="image-box">
                <a
                  href="https://www.instagram.com/cipfpcecheste/?hl=es"
                  target="_blank"
                  rel="noreferrer"
                >
                  <img src="../../assets/img/cocinera4.jpeg" alt="Paula" />
                </a>
              </div>
              <div class="text-box">
                <div class="main"><span>Paula</span></div>
                <div class="sub"><span>&#64;AmorRepostero</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
