<app-aviso></app-aviso>
<app-header></app-header>

<div class="main flex justify-center text-center">
  <div class="container flex flex-col justify-center mt-12 mb-12">
    <span> </span>

    <section>
      <h2>Seccion para blog</h2>
      <div class="flex flex-row justify-evenly text-start font-normal text-xl">
        <p class="w-96 h-auto">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi,
          beatae aut. Sequi ab minima doloremque, vero eum voluptatum ratione?
          Vero corrupti magni quos, magnam nesciunt labore a alias qui
          doloribus?
        </p>
        <p class="w-96 h-auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
          quibusdam ad nostrum magnam beatae harum in animi placeat recusandae,
          labore itaque, iusto enim voluptatum numquam obcaecati autem, libero
          consequuntur voluptates?
        </p>
      </div>
    </section>
    <section>
      <h2>Seccion para blog</h2>
      <div class="flex flex-row justify-evenly text-start font-normal text-xl">
        <p class="w-96 h-auto">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi,
          beatae aut. Sequi ab minima doloremque, vero eum voluptatum ratione?
          Vero corrupti magni quos, magnam nesciunt labore a alias qui
          doloribus?
        </p>
        <p class="w-96 h-auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
          quibusdam ad nostrum magnam beatae harum in animi placeat recusandae,
          labore itaque, iusto enim voluptatum numquam obcaecati autem, libero
          consequuntur voluptates?
        </p>
      </div>
    </section>
    <section>
      <h2>Seccion para blog</h2>
      <div class="flex flex-row justify-evenly text-start font-normal text-xl">
        <p class="w-96 h-auto">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi,
          beatae aut. Sequi ab minima doloremque, vero eum voluptatum ratione?
          Vero corrupti magni quos, magnam nesciunt labore a alias qui
          doloribus?
        </p>
        <p class="w-96 h-auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
          quibusdam ad nostrum magnam beatae harum in animi placeat recusandae,
          labore itaque, iusto enim voluptatum numquam obcaecati autem, libero
          consequuntur voluptates?
        </p>
      </div>
    </section>

    <div class="grid justify-center mt-20">
      <div class="grid grid-cols-4 gap-12">
        <div class="col">
          <div class="card" style="cursor: pointer">
            <div class="image-box">
              <a
                href="https://www.instagram.com/cipfpcheste/?hl=es"
                target="_blank"
                rel="noreferrer"
              >
                <img src="../../assets/img/cocinera1.jpeg" alt="" />
              </a>
            </div>
            <div class="text-box">
              <div class="main"><span>Marta</span></div>
              <div class="sub"><span>&#64;Sancez_Marta</span></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="cursor: pointer">
            <div class="image-box">
              <a href="">
                <img src="../../assets/img/cocinero3.jpeg" alt="" />
              </a>
            </div>
            <div class="text-box">
              <div class="main"><span>Somchai</span></div>
              <div class="sub"><span>&#64;SomchaiThai</span></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="cursor: pointer">
            <div class="image-box">
              <a href="">
                <img src="../../assets/img/cocinera2.jpeg" alt="" />
              </a>
            </div>
            <div class="text-box">
              <div class="main"><span>Laura</span></div>
              <div class="sub"><span>&#64;LePetitDejuner</span></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="cursor: pointer">
            <div class="image-box">
              <a href="">
                <img src="../../assets/img/cocinero2.jpeg" alt="" />
              </a>
            </div>
            <div class="text-box">
              <div class="main"><span>Mario</span></div>
              <div class="sub"><span>&#64;CoProfM</span></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="cursor: pointer">
            <div class="image-box">
              <a href="">
                <img src="../../assets/img/cocinero1.jpg" alt="" />
              </a>
            </div>
            <div class="text-box">
              <div class="main"><span>Angelo</span></div>
              <div class="sub"><span>&#64;SienteItalia</span></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="cursor: pointer">
            <div class="image-box">
              <a href="">
                <img src="../../assets/img/cocinera3.jpeg" alt="" />
              </a>
            </div>
            <div class="text-box">
              <div class="main"><span>Susana</span></div>
              <div class="sub"><span>&#64;SweetKitchen</span></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="cursor: pointer">
            <div class="image-box">
              <a href="">
                <img src="../../assets/img/cocinero4.jpeg" alt="" />
              </a>
            </div>
            <div class="text-box">
              <div class="main"><span>Luca</span></div>
              <div class="sub"><span>&#64;ElAsadito</span></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="cursor: pointer">
            <div class="image-box">
              <a href="">
                <img src="../../assets/img/cocinera4.jpeg" alt="" />
              </a>
            </div>
            <div class="text-box">
              <div class="main"><span>Paula</span></div>
              <div class="sub"><span>&#64;AmorRepostero</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
