<header style="cursor: pointer">
  <a href="/aviso"
    ><div class="logos">
      <div class="logos-slide">
        <p>
          Atención ! Esta Web es un TFG y tiene un carácter puramente educativo.
          (Consultar con un profesional.)
        </p>
      </div>
      <div class="logos-slide">
        <p>
          Atención ! Esta Web es un TFG y tiene un carácter puramente educativo.
          (Consultar con un profesional.)
        </p>
      </div>
      <div class="logos-slide">
        <p>
          Atención ! Esta Web es un TFG y tiene un carácter puramente educativo.
          (Consultar con un profesional.)
        </p>
      </div>
      <div class="logos-slide">
        <p>
          Atención ! Esta Web es un TFG y tiene un carácter puramente educativo.
          (Consultar con un profesional.)
        </p>
      </div>
      <div class="logos-slide">
        <p>
          Atención ! Esta Web es un TFG y tiene un carácter puramente educativo.
          (Consultar con un profesional.)
        </p>
      </div>
    </div></a
  >
</header>
