<header style="cursor: pointer">
  <a href="/inicio"
    ><div class="logos">
      <div class="logos-slide">
        <p class="warning-header">
          Atención ! Esta Web es un TFG y tiene un carácter puramente
          orientativo. (Consultar con un profesional.)
        </p>
      </div>
      <div class="logos-slide">
        <p class="warning-header">
          Atención ! Esta Web es un TFG y tiene un carácter puramente
          orientativo. (Consultar con un profesional.)
        </p>
      </div>
      <div class="logos-slide">
        <p class="warning-header">
          Atención ! Esta Web es un TFG y tiene un carácter puramente
          orientativo. (Consultar con un profesional.)
        </p>
      </div>
      <div class="logos-slide">
        <p class="warning-header">
          Atención ! Esta Web es un TFG y tiene un carácter puramente
          orientativo. (Consultar con un profesional.)
        </p>
      </div>
      <div class="logos-slide">
        <p class="warning-header">
          Atención ! Esta Web es un TFG y tiene un carácter puramente
          orientativo. (Consultar con un profesional.)
        </p>
      </div>
    </div></a
  >
</header>
