<main class="flex flex-row min-h-screen min-w-7xl bg-slate-200">
  <aside class="flex flex-col w-1/5 p-4 bg-yellow-400">
    <section class="flex">
      <img src="/Health_Body/src/assets/img/BH_LOGO.svg" alt="logo">
      <h1>Logo</h1>
    </section>
    <section class="flex flex-col mt-40">
      <h4 class="flex flex-col text-start px-4 justify-center h-12 rounded-lg bg-green-500">1</h4>
      <h4 class="flex flex-col text-start px-4 justify-center h-12 rounded-lg bg-green-500">2</h4>
      <h4 class="flex flex-col text-start px-4 justify-center h-12 rounded-lg bg-green-500">3</h4>
      <h4 class="flex flex-col text-start px-4 justify-center h-12 rounded-lg bg-green-500">4</h4>
    </section>
  </aside>

  <aside class="flex flex-col w-4/5 m-6 rounded-lg p-8 bg-cyan-400">
    <section class="flex">
      <h1 class="flex text-start text-fuchsia-700"><strong>Buscador de alimentos</strong></h1>
    </section>

    <section class="flex flex-col h-min border-4">
      <table class="">
        <thead>
          <tr>
            <th>Song</th>
            <th>Artist</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>The Sliding Mr. Bones (Next Stop, Pottersville)</td>
            <td>Malcolm Lockyer</td>
            <td>1961</td>
          </tr>
          <tr>
            <td>Witchy Woman</td>
            <td>The Eagles</td>
            <td>1972</td>
          </tr>
          <tr>
            <td>Shining Star</td>
            <td>Earth, Wind, and Fire</td>
            <td>1975</td>
          </tr>
          <tr>
            <td>Shining Star</td>
            <td>Earth, Wind, and Fire</td>
            <td>1975</td>
          </tr>
          <tr>
            <td>Shining Star</td>
            <td>Earth, Wind, and Fire</td>
            <td>1975</td>
          </tr>
          <tr>
            <td>Shining Star</td>
            <td>Earth, Wind, and Fire</td>
            <td>1975</td>
          </tr>
        </tbody>
      </table>
    </section>
  </aside>
</main>
