
<main
  class="flex flex-row min-h-screen min-w-7xl bg-[url(./assets/img/cool-background.png)]"
>
  <aside
    class="flex flex-col w-1/5 p-4 border-r-2 drop-shadow-2xl border-r-green-600 bg-slate-100"
  >
    <section class="flex flex-row justify-center mt-2">
      <img
        src="./assets/img/LogoTexto.png"
        alt="logo"
        class="w-auto h-10 text-center"
      />
      <img
        src="./assets/img/LogoSTexto.png"
        alt="logo"
        class="w-auto h-10 text-center"
      />
    </section>
    <section class="flex flex-col mt-52">
      <button
        class="flex flex-col text-start text-lg font-medium p-8 justify-center h-12 rounded-lg cursor-pointer hover:bg-green-200 focus-within:text-green-700 focus-within:bg-green-300 focus-within:drop-shadow-md"
      >
        <span class="i-ri-menu-search-line"></span> Panel principal
      </button>
      <button
        class="flex flex-col text-start text-lg font-medium p-8 justify-center h-12 rounded-lg cursor-pointer hover:bg-green-200"
      >
        Menú semanal
      </button>
      <button
        class="flex flex-col text-start text-lg font-medium p-8 justify-center h-12 rounded-lg cursor-pointer hover:bg-green-200"
      >
        Menús totales
      </button>
      <button
        class="flex flex-col text-start text-lg font-medium p-8 justify-center h-12 rounded-lg cursor-pointer hover:bg-green-200"
      >
        Cerrar sesión
      </button>
    </section>
  </aside>

  <aside
    class="flex flex-col w-4/5 m-6 rounded-lg p-8 bg-slate-100 border-2 border-green-600 text-black"
  >
    <section class="flex">
      <h1 class="flex text-start text-black">
        <strong>Buscador de alimentos</strong>
      </h1>
    </section>

    <section class="flex flex-col h-min border-4">
      <table class="">
        <thead>
          <tr>
            <th>Song</th>
            <th>Artist</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>The Sliding Mr. Bones (Next Stop, Pottersville)</td>
            <td>Malcolm Lockyer</td>
            <td>1961</td>
          </tr>
          <tr>
            <td>Witchy Woman</td>
            <td>The Eagles</td>
            <td>1972</td>
          </tr>
          <tr>
            <td>Shining Star</td>
            <td>Earth, Wind, and Fire</td>
            <td>1975</td>
          </tr>
          <tr>
            <td>Shining Star</td>
            <td>Earth, Wind, and Fire</td>
            <td>1975</td>
          </tr>
          <tr>
            <td>Shining Star</td>
            <td>Earth, Wind, and Fire</td>
            <td>1975</td>
          </tr>
          <tr>
            <td>Shining Star</td>
            <td>Earth, Wind, and Fire</td>
            <td>1975</td>
          </tr>
        </tbody>
      </table>
    </section>
  </aside>
</main>
