<main
  class="flex flex-row min-h-screen min-w-7xl bg-[url(./assets/img/cool-background.png)]"
>
  <aside
    class="flex flex-col w-1/5 p-4 border-r-2 drop-shadow-2xl border-r-green-600 bg-slate-100"
  >
    <section class="flex flex-row justify-center mt-2">
      <img
        src="./assets/img/LogoTexto.png"
        alt="logo"
        class="w-auto h-10 text-center cursor-pointer"
        routerLink="/Inicio"
      />
      <img
        src="./assets/img/LogoSTexto.png"
        alt="logo"
        class="w-auto h-10 text-center cursor-pointer"
        routerLink="/Inicio"
      />
    </section>
    <section class="flex flex-col mt-52">
      <button
        class="flex flex-col text-start text-lg font-medium p-4 m-2 justify-center h-12 rounded-lg cursor-pointer hover:bg-pistacho-claro focus-within:text-rojo focus-within:bg-pistacho focus-within:drop-shadow-md"
      >
        <span class="i-ri-menu-search-line"></span> Panel principal
      </button>
      <button
        class="flex flex-col text-start text-lg font-medium p-4 m-2 justify-center h-12 rounded-lg cursor-pointer hover:bg-pistacho-claro focus-within:text-rojo focus-within:bg-pistacho focus-within:drop-shadow-md"
      >
        Buscar alimento
      </button>
      <button
        class="flex flex-col text-start text-lg font-medium p-4 m-2 justify-center h-12 rounded-lg cursor-pointer hover:bg-pistacho-claro focus-within:text-rojo focus-within:bg-pistacho focus-within:drop-shadow-md"
      >
        Menú semanal
      </button>
      <button
        class="flex flex-col text-start text-lg font-medium p-4 m-2 justify-center h-12 rounded-lg cursor-pointer hover:bg-pistacho-claro focus-within:text-rojo focus-within:bg-pistacho focus-within:drop-shadow-md"
      >
        Menús totales
      </button>
      <button
        (click)="logout()"
        class="flex flex-col text-start text-lg font-medium p-4 m-2 justify-center h-12 rounded-lg cursor-pointer hover:bg-pistacho-claro focus-within:text-rojo focus-within:bg-pistacho focus-within:drop-shadow-md"
      >
        Cerrar sesión
      </button>
    </section>
  </aside>
  <aside
    class="flex flex-col w-4/5 m-6 rounded-lg p-8 bg-slate-100 border-2 border-green-600 text-black relative"
  >
    <app-panel-principal></app-panel-principal>
  </aside>
</main>
