<app-aviso></app-aviso>
<app-header></app-header>
<main class="flex flex-col mt-24 w-full h-full">
  <section
    class="flex flex-col md:flex-row justify-center items-center w-full mb-32"
  >
    <img
      src="../../assets/img/señora_IA.png"
      alt="señora_IA"
      class="h-auto w-4/6 sm:w-3/6 md:w-2/6 pr-0 md:pr-8 rounded-lg"
    />
    <article
      class="flex flex-col w-full md:w-2/6 justify-center items-center md:items-start pl-0 md:pl-8 mt-8 md:mt-0 p-2"
    >
      <h2 class="border-b-2 text-center pb-4 w-full">Mantén tu ❤️ Health</h2>
      <h2 class="mt-4 text-center md:text-left">
        Nadie conoce tus gustos mejor que tú
      </h2>
      <p class="text-base mt-4 text-center p-2 md:p-0 md:text-left">
        Te damos la bienvenida a Health Body, somos quienes te ayudarán a tener
        una vida más saludable y quienes te harán disfrutar de lo que comes
        porque aquí quien realmente es importante eres tú. En nuestra página
        podrás hacerte las dietas a tu gusto, con los alimentos que a ti te
        gustan y para cualquier tipo de objetivo, nosotros solo ponemos los
        medios, tú disfrutas.
      </p>
      <div
        class="flex flex-col md:flex-row justify-center md:justify-center mt-4 w-full"
      >
        <button
          routerLink="/registro"
          defaultHref="/Inicio"
          class="m-2 md:m-4 bg-pistacho h-10 w-auto pr-4 pl-4 rounded-lg"
        >
          Empezar ahora
        </button>
        <button
          routerLink="/recetas"
          defaultHref="/Inicio"
          class="m-2 md:m-4 bg-pistacho-claro h-10 w-auto pr-4 pl-4 rounded-lg"
        >
          Ver nuestras recetas
        </button>
      </div>
    </article>
  </section>

  <section
    class="flex flex-col md:flex-row justify-center items-center w-full mb-32"
  >
    <article
      class="flex flex-col w-full md:w-4/12 justify-center items-center md:items-start pl-0 md:pl-8 mt-8 md:mt-0 p-2"
    >
      <h2 class="text-center md:text-left">Lo normal es comer bien</h2>
      <p class="text-base mt-4 text-center p-2 md:p-0 md:text-left">
        Comer bien no debería ser un lujo, sino una norma. En Health Body,
        creemos que alimentarse adecuadamente es fundamental para una vida
        saludable y feliz. Nos dedicamos a ofrecerte las herramientas y recursos
        necesarios para que puedas disfrutar de tus comidas favoritas mientras
        cuidas tu salud.
      </p>
      <div
        class="flex flex-col md:flex-row justify-center md:justify-center mt-4 w-full"
      >
        <button
          routerLink="/registro"
          defaultHref="/Inicio"
          class="m-2 md:m-4 bg-pistacho h-10 w-auto pr-4 pl-4 rounded-lg"
        >
          Empezar ahora
        </button>
        <button
          routerLink="/recetas"
          defaultHref="/Inicio"
          class="m-2 md:m-4 bg-pistacho-claro h-10 w-auto pr-4 pl-4 rounded-lg"
        >
          Ver nuestras recetas
        </button>
      </div>
    </article>
    <img
      src="../../assets/img/Group 2217.svg"
      alt="Harvard"
      class="h-auto w-4/6 sm:w-3/6 md:w-4/12 pr-0 md:pr-8 rounded-lg mt-8 md:mt-0"
    />
  </section>

  <section
    class="flex flex-col md:flex-row justify-center items-center w-full mb-32"
  >
    <img
      src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg"
      alt="Healthy Food"
      class="h-auto w-4/6 sm:w-3/6 md:w-2/6 pr-0 md:pr-8 rounded-lg"
    />
    <article
      class="flex flex-col w-full md:w-2/6 justify-center items-center md:items-start pl-0 md:pl-8 mt-8 md:mt-0 p-2"
    >
      <h2 class="border-b-2 text-center pb-4 w-full">
        Consejos para una Alimentación Saludable
      </h2>
      <p class="text-base mt-4 text-center p-2 md:p-0 md:text-left">
        En Health Body, no solo te ofrecemos recetas deliciosas y saludables,
        sino también consejos prácticos para mejorar tu alimentación día a día.
        Desde la elección de ingredientes frescos y de calidad hasta técnicas de
        cocción saludables, estamos aquí para ayudarte a llevar un estilo de
        vida equilibrado y nutritivo.
      </p>
    </article>
  </section>

  <section
    class="flex flex-col md:flex-row justify-center items-center w-full mb-32"
  >
    <article
      class="flex flex-col w-full md:w-4/12 justify-center items-center md:items-start pl-0 md:pl-8 mt-8 md:mt-0 p-2"
    >
      <h2 class="text-center md:text-left">Testimonios de Nuestros Usuarios</h2>
      <p class="text-base mt-4 text-center p-2 md:p-0 md:text-left">
        No solo tomes nuestra palabra, escucha a nuestros usuarios satisfechos.
        Personas de todo el mundo han mejorado su salud y calidad de vida
        gracias a Health Body. Descubre sus historias y cómo hemos impactado
        positivamente en sus vidas.
      </p>
    </article>
    <img
      src="https://images.pexels.com/photos/3184298/pexels-photo-3184298.jpeg"
      alt="User Testimonials"
      class="h-auto w-4/6 sm:w-3/6 md:w-4/12 pr-0 md:pr-8 rounded-lg mt-8 md:mt-0"
    />
  </section>
</main>
<app-footer></app-footer>
