<app-aviso></app-aviso>
<app-header></app-header>
<main class="flex flex-col bg-slate-700 mt-24 w-full h-full">
  <section class="flex flex-row justify-center w-full mb-32">
    <img
      src="../../assets/img/señora_IA.png"
      alt="señora_IA"
      class="h-auto w-2/6 pr-8 rounded-lg"
    />

    <article class="flex flex-col w-2/6 justify-center pl-8">
      <h2 class="flex flex-col border-b-2 text-center pb-4 justify-center">
        Mantén tu ❤️ Health
      </h2>

      <h2>Nadie conoce tus gustos mejor que tú</h2>

      <p class="flex text-base">
        Te damos la bienvenida a Health Body, somos quienes te ayudarán a tener
        una vida mas saludable y quienes te harán disfrutar de lo que comes
        porque aqui quien realmente es importante eres tui. En nuestra página
        podrás hacerte las dietas a tu gusto, con los alimentos que a ti te
        gustan y para cualquier tipo de objetivo, nosotros solo ponemos los
        medios, tu disfrutas.
      </p>
      <div class="flex flex-row justify-center">
        <button
          routerLink="/registro"
          defaultHref="/Inicio"
          class="m-4 bg-pistacho h-10 w-auto pr-4 pl-4 rounded-lg"
        >
          Empezar ahora
        </button>

        <button
          routerLink="/recetas"
          defaultHref="/Inicio"
          class="m-4 bg-pistacho-claro h-10 w-auto pr-4 pl-4 rounded-lg"
        >
          Ver nuestras recetas
        </button>
      </div>
    </article>
  </section>
  <section class="flex flex-row justify-center w-full h-max mb-32">
    <article class="flex flex-col w-4/12 justify-center pl-8">
      <h2 class="">Lo normal es comer bien</h2>
      <p class="flex text-base">
        Te damos la bienvenida a Health Body, somos quienes te ayudarán a tener
        una vida mas saludable y quienes te harán disfrutar de lo que comes
        porque aqui quien realmente es importante eres tui. En nuestra página
        podrás hacerte las dietas a tu gusto, con los alimentos que a ti te
        gustan y para cualquier tipo de objetivo, nosotros solo ponemos los
        medios, tu disfrutas.
      </p>
      <div class="flex flex-row justify-center">
        <button
          routerLink="/registro"
          defaultHref="/Inicio"
          class="m-4 bg-pistacho h-10 w-auto pr-4 pl-4 rounded-lg"
        >
          Empezar ahora
        </button>

        <button
          routerLink="/recetas"
          defaultHref="/Inicio"
          class="m-4 bg-pistacho-claro h-10 w-auto pr-4 pl-4 rounded-lg"
        >
          Ver nuestras recetas
        </button>
      </div>
    </article>
    <img
      src="../../assets/img/Group 2217.svg"
      alt="Harvard"
      class="h-auto w-4/12 pr-8 rounded-lg"
    />
  </section>
</main>
<app-footer></app-footer>
