<app-header></app-header>
<main class="container">
  <aside class="aside">
    <section class="sections">
      <img
        src="../../assets/img/señora_IA.png"
        alt="señora_IA"
        style="height: 500px"
      />
      <article>
        <h4>Transforma tu ❤️ Health</h4>

        <h2>Nadie conoce tus gustos mejor que tu</h2>

        <p>
          Te damos la bienvenida a Health Body, somos quienes te ayudarán a
          tener una vida mas saludable y quienes te harán disfrutar de lo que
          comes porque aqui quien realmente es importante eres tui. En nuestra
          página podrás hacerte las dietas a tu gusto, con los alimentos que a
          ti te gustan y para cualquier tipo de objetivo, nosotros solo ponemos
          los medios, tu disfrutas.
        </p>
        <div class="new-double-button">
          <button
            class="new-b1-b1"
            routerLink="/Inicio/log-in"
            defaultHref="/Inicio"
          >
            Empezar ahora
          </button>

          <button
            class="new-b2-b2"
            routerLink="/Inicio/recetas"
            defaultHref="/Inicio"
          >
            Ver nuestras recetas
          </button>
        </div>
      </article>
    </section>
    <section class="sections">
      <article class="new-p2">
        <h2>Lo normal es comer bien</h2>
        <p>
          Te damos la bienvenida a Health Body, somos quienes te ayudarán a
          tener una vida mas saludable y quienes te harán disfrutar de lo que
          comes porque aqui quien realmente es importante eres tui. En nuestra
          página podrás hacerte las dietas a tu gusto, con los alimentos que a
          ti te gustan y para cualquier tipo de objetivo, nosotros solo ponemos
          los medios, tu disfrutas.
        </p>
        <div class="new-double-button">
          <button
            class="new-b1-b1"
            routerLink="/Inicio/log-in"
            defaultHref="/Inicio"
          >
            Empezar ahora
          </button>
          <button
            class="new-b2-b2"
            routerLink="/Inicio/recetas"
            defaultHref="/Inicio"
          >
            Ver nuestras recetas
          </button>
        </div>
      </article>
      <img
        src="../../assets/img/Group 2217.svg"
        alt="Harvard"
        style="height: 500px"
      />
    </section>
    <section class="sections">
      <img src="../" alt="pepe" />
      <img
        src="../../assets/img/frutas.jpg"
        alt="frutas"
        style="height: 500px"
      />
      <article>
        <h2>Te lo ponemos fácil, tu eliges</h2>

        <p>
          Te damos la bienvenida a Health Body, somos quienes te ayudarán a
          tener una vida mas saludable y quienes te harán disfrutar de lo que
          comes porque aqui quien realmente es importante eres tui. En nuestra
          página podrás hacerte las dietas a tu gusto, con los alimentos que a
          ti te gustan y para cualquier tipo de objetivo, nosotros solo ponemos
          los medios, tu disfrutas.
        </p>
      </article>
    </section>
    <h2>
      ¿Qué tal si pruebas algunas de nuestras recetas? Nuestros colaboladores te
      lo ponen fácil
    </h2>
    <section
      class="sections"
      style="margin-top: 100px; height: 250px"
    ></section>
  </aside>
</main>
