<!--informacion actual  objetivos carolias diarias -> prote, hidratos y grasas
dias de entrenamiento -> calcular las calorías segun actividad barra progress
semanal, marcar días entrenados para calcular el progress-->

<div
  class="grid grid-flow-col grid-rows-2 grid-cols-3 gap-8 text-center text-texto"
>
  <div
    class="flex bg-pistacho-claro border-2 border-bg-header bg-opacity-30 h-auto shadow-xl rounded-md"
  >
    <div class="flex flex-row p-2">
      <img
        src="./assets/img/cocinero1.jpg"
        alt=""
        class="rounded-full border-white object-cover w-36 h-36 shadow-2xl border-2"
      />
      <div class="flex flex-col m-4 text-start">
        <span class="flex flex-row w-auto text-xl font-medium mb-2"
          >Nombre</span
        >
        <div class="flex flex-row">
          <div class="w-auto pr-2">
            <p>Edad:</p>
            <p>Peso:</p>
          </div>
          <div class="w-auto">
            <p>23</p>
            <p>100</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-start-3 bg-pistacho-claro border-2 border-bg-header bg-opacity-30 h-auto shadow-xl"
  >
    hola
  </div>
  <div
    class="bg-pistacho-claro border-2 border-bg-header bg-opacity-30 h-auto shadow-xl"
  >
    hola
  </div>
  <div
    class="bg-pistacho-claro border-2 border-bg-header bg-opacity-30 h-auto shadow-xl"
  >
    hola
  </div>
  <div
    class="flex flex-col text-center justify-center row-start-1 col-start-2 col-span-2 bg-pistacho-claro border-2 border-bg-header bg-opacity-30 h-auto shadow-xl"
  >
    <div
      class="flex flex-row justify-evenly w-full bg-gray-200 rounded-full dark:bg-gray-700"
    >
      start
      <div
        class="bg-purple text-xs font-medium text-white text-center p-0.5 leading-none rounded-full"
        style="width: 45%"
      >
        45%
      </div>
      end
    </div>
  </div>
</div>
