<app-aviso></app-aviso>
<app-header></app-header>

<main class="h-auto flex flex-col justify-center">
  <aside class="flex flex-col h-auto bg-white min-h-screen p-6">
    <section class="flex flex-col justify-center mx-4 md:mx-32 mt-14">
      <span
        class="text-2xl sm:text-3xl md:text-4xl mb-8 text-center font-medium"
      >
        Aquí podrás encontrar algunas recetas que te podrían facilitar la dieta
        y conseguir tus objetivos
      </span>
      <p class="text-base sm:text-lg md:text-2xl text-center">
        Claramente sabemos que el hecho de hacer dieta muchas veces no es fácil,
        pero aquí vamos a intentar facilitarte las cosas lo máximo posible. Más
        abajo puedes encontrar un buscador de recetas con el cual podrás
        encontrar todo tipo de recetas, pero fíjate bien, hay recetas tanto
        fitness como no tan fitness, la elección está de tu parte.
      </p>
    </section>
    <section class="flex m-4 justify-center w-auto">
      <form
        (ngSubmit)="onSubmit()"
        class="flex flex-col md:flex-row w-full justify-center"
      >
        <input
          [(ngModel)]="receta"
          type="text"
          name="receta"
          placeholder="Ejemplo: Pizza"
          class="rounded-3xl bg-pistacho-claro p-2 pl-4 w-full md:w-3/6 mb-4 md:mb-0"
        />
        <button
          type="submit"
          class="text-center bg-bg-header rounded-3xl h-auto p-2 pr-4 pl-4 w-auto ml-0 md:ml-4"
        >
          Buscar
        </button>
      </form>
    </section>
    <section class="flex flex-col">
      <div
        *ngFor="let datos of datos?.meals; let i = index"
        class="flex flex-col md:flex-row ml-4 md:ml-0 mr-4 md:mr-0 mt-6 mb-10 md:space-x-6 lg:space-x-12 h-auto shadow-2xl border-2 border-bg-header bg-opacity-20 bg-pistacho-claro p-4 rounded-lg"
      >
        <div class="flex justify-center md:w-1/3">
          <img
            [src]="datos.strMealThumb"
            alt="Imagen no disponible"
            class="w-48 h-48 md:w-64 md:h-64 object-cover rounded-full"
          />
        </div>

        <div class="flex flex-col md:w-1/3 p-2">
          <span class="font-semibold mb-4 text-xl md:text-3xl">{{
            datos.strMeal
          }}</span>
          <p class="text-sm md:text-base">{{ datos.strInstructions }}</p>
        </div>

        <div class="flex flex-col md:w-1/3 p-2">
          <h2 class="font-semibold mb-2 text-xl md:text-2xl">Ingredientes:</h2>
          <div class="flex flex-wrap">
            <p
              class="bg-pistacho rounded-full p-2 m-1 text-sm md:text-base"
              *ngFor="let ingrediente of getIngredientes(datos); let j = index"
            >
              {{ ingrediente }}
            </p>
          </div>
        </div>
      </div>
    </section>
  </aside>
</main>

<app-footer></app-footer>
