<app-aviso></app-aviso>
<app-header></app-header>
<main class="h-screen w-full justify-center flex flex-row mb-0">
  <aside
    class="flex flex-col justify-center w-full bg-cover bg-no-repeat h-full"
    style="
      background-image: url('../../assets/img/pexels-ella-olsson-1640770.jpg');
    "
  >
    <div
      class="flex flex-col md:flex-row justify-center text-center h-auto p-4 md:m-20"
    >
      <div class="hidden md:flex justify-center rounded-l-2xl bg-bg-header">
        <img
          src="../../assets/img/Computer login-rafiki.svg"
          alt="login img"
          class="w-full h-full object-contain"
        />
      </div>

      <div class="relative">
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          class="flex flex-col p-4 md:p-10 lg:p-20 md:rounded-r-2xl justify-center bg-opacity-50 backdrop-blur-2xl w-full md:w-auto"
        >
          <span class="text-texto text-2xl mb-4 font-semibold"
            >Iniciar sesión</span
          >

          <div class="p-2 md:p-4">
            <input
              type="email"
              formControlName="email"
              required
              placeholder="Correo electrónico"
              autocomplete="email"
              class="bg-blur text-base bg-opacity-25 pl-4 pr-4 md:pr-20 border-b-2 border-bg-header rounded-tr-2xl h-10 w-full"
            />
          </div>

          <div class="p-2 md:p-4">
            <input
              type="password"
              formControlName="password"
              required
              placeholder="Contraseña"
              class="bg-blur text-base bg-opacity-25 pl-4 pr-4 md:pr-20 border-b-2 border-bg-header rounded-tr-2xl h-10 w-full"
            />
          </div>

          <div
            class="p-2 md:p-4 flex flex-row justify-end md:flex-row md:justify-end"
          >
            <a href="#" class="text-blur hover:underline"
              >Recuperar contraseña</a
            >
          </div>

          <button
            class="bg-pistacho flex flex-row justify-center p-2 rounded-3xl mb-4 text-xl"
            type="submit"
          >
            Entrar
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="30"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-login-2 ml-2"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2"
              />
              <path d="M3 12h13l-3 -3" />
              <path d="M13 15l3 -3" />
            </svg>
          </button>

          <div>
            <p>
              ¿No tienes cuenta?
              <a
                routerLink="/registro"
                class="text-blur font-medium hover:border-b-2 cursor-pointer"
                >Regístrate</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
  </aside>
  <div
    *ngIf="utiles.isLoading()"
    class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-50 rounded-lg"
  >
    <mat-spinner></mat-spinner>
  </div>
</main>
<app-footer></app-footer>
