<app-aviso></app-aviso>
<app-header></app-header>
<main class="h-screen w-full justify-center flex flex-row">
  <aside class="flex flex-col justify-center w-full">
    <section
      class="flex flex-row rounded-xl w-96 h-96 justify-center bg-purple"
    >
      <div class="flex w-80 h-80 justify-center">
        <img src="../../assets/img/Computer login-rafiki.svg" alt="" />
      </div>
      <div class="flex flex-col w-80 h-80 justify-center text-center">
        <!--Hacer quee cuando no esta registrado y quiera estar registrado, haga como una transicion de pagina entre el login y el registro-->

        <form action="">
          <h2>Iniciar sesión</h2>

          <div class="inputbox">
            <input
              type="email"
              name=""
              id=""
              required
              placeholder="Correo electrónico"
            />
            <!--<label for="">Correo electrónico:</label>-->
          </div>

          <div class="inputbox">
            <input
              type="password"
              name=""
              id=""
              required
              placeholder="Contraseña"
            />
            <!--<label for="">Contraseña:</label>-->
          </div>

          <div class="forget">
            <label for=""> <input type="checkbox" />Recuérdame </label>
            <label for=""> Recuperar contraseña </label>
          </div>
          <button>Entrar</button>

          <div class="register">
            <p>
              No tienes cuenta ?
              <a routerLink="/Inicio/registro" defaultHref="/Inicio/log-in"
                >Regístrate</a
              >
            </p>
          </div>
        </form>
      </div>
    </section>
  </aside>
</main>
<app-footer></app-footer>
