<header class="flex flex-row justify-around h-14 bg-slate-200">
  <section class="flex flex-row">
    <img
      src="../../assets/img/BH_LOGO.svg"
      alt="Logo"
      class="size-14 cursor-pointer"
      routerLink="/cuenta"
    />
  </section>
  <section class="flex flex-row">
    <button class="font-medium pl-4 pr-4">Cuenta/dash</button>
    <button class="font-medium pl-4 pr-4">Inicio</button>
    <button class="font-medium pl-4 pr-4">Colaboradores</button>
    <button class="font-medium pl-4 pr-4">Recetas</button>
    <button class="font-medium pl-4 pr-4">Iniciar sesion</button>
  </section>
</header>
