<header class="flex flex-row justify-around h-14 bg-bg-header">
  <section class="flex flex-row">
    <img
      src="../../assets/img/BH_LOGO.svg"
      alt="Logo"
      class="size-14 cursor-pointer"
      routerLink="/cuenta"
    />
  </section>
  <section class="flex flex-row">
    <button class="flex flex-col justify-center font-medium pl-4 pr-4 h-10 mt-2 rounded-lg focus:text-texto">Cuenta/dash</button>
    <button class="flex flex-col justify-center font-medium pl-4 pr-4 h-10 mt-2 rounded-lg focus:text-texto">Inicio</button>
    <button class="flex flex-col justify-center font-medium pl-4 pr-4 h-10 mt-2 rounded-lg focus:text-texto">Colaboradores</button>
    <button class="flex flex-col justify-center font-medium pl-4 pr-4 h-10 mt-2 rounded-lg focus:text-texto">Recetas</button>
    <button class="flex flex-col justify-center font-medium pl-4 pr-4 h-10 mt-2 rounded-lg bg-pistacho">Iniciar sesion</button>
  </section>
</header>
